nav.navbar {
  background-color: #7b253d;
}
nav.navbar a {
  color: white;
  text-transform: uppercase;
}
nav.navbar a:hover {
  opacity: 0.65;
  color: white;
}

footer {
  background-color: #7b253d;
}
footer .a__decoration {
  text-decoration: none;
  text-transform: uppercase;
}
footer .a__decoration:hover {
  opacity: 0.65;
  color: white;
}
footer a.sn:hover {
  opacity: 0.65;
}

body.index {
  font-family: "Playfair Display", serif;
}

.main-index {
  background-color: #373434;
}
.main-index .section__intro {
  background-color: #373434;
}
.main-index .section__intro .img__teatinos {
  width: 7rem;
  height: 7rem;
}
.main-index .section__frase {
  background-color: #373434;
}
.main-index .section__frase .img__ingreso {
  width: 100%;
}

@media (max-width: 576px) {
  .carrusel {
    padding-top: 3rem;
  }
  .frase__educacion {
    padding-top: 3rem;
  }
}
body.niveles {
  font-family: "Playfair Display", serif;
}
body.niveles .section-niveles {
  background-color: #373434;
}
body.niveles .section-niveles .h1__niveles {
  font-size: 80px;
}
body.niveles .section-niveles .color-card {
  background-color: #373434;
}
body.niveles .section-niveles .img__niveles {
  width: 95%;
  height: 95%;
  align-self: center;
  padding-top: 1rem;
}

.section-niveles {
  background-color: #373434;
}
.section-niveles .h1__niveles {
  font-size: 90px;
}
.section-niveles .color-card {
  background-color: #373434;
}
.section-niveles .img__niveles {
  width: 95%;
  height: 95%;
  align-self: center;
  padding-top: 1rem;
}

body.inscripciones {
  font-family: "Playfair Display", serif;
}
body.inscripciones .section-inscripciones {
  background-color: #373434;
}
body.inscripciones .aviso {
  font-size: 3rem;
  letter-spacing: 5px;
  text-shadow: 4px 4px 5px #cdcdcd;
  animation: flotar 3s linear infinite alternate;
}
@keyframes flotar {
  from {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-5deg);
  }
}

body.proyectos {
  font-family: "Playfair Display", serif;
}
body.proyectos section {
  background-color: #373434;
}
body.proyectos .img__project {
  height: 20rem;
  width: 30rem;
  border-radius: 10px;
}
@media (max-width: 576px) {
  body.proyectos .img__project {
    height: 15rem;
    width: 22rem;
    border-radius: 10px;
  }
}

body.contacto {
  font-family: "Playfair Display", serif;
}
body.contacto .formulario {
  background-color: #373434;
}
body.contacto .formulario .div__a-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
body.contacto .formulario .div__a-btn .btn-a {
  text-decoration: none;
  padding: 40px 80px;
  color: white;
  border: 3px solid white;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 300;
  letter-spacing: -2px;
  transition: all 0.5s;
}
body.contacto .formulario .div__a-btn .btn-a:hover {
  font-weight: 900;
  letter-spacing: 10px;
  border: 7px solid #7b253d;
}

/* Footer */
@media (max-width: 768px) {
  .size {
    font-size: xx-small;
  }
}
/* Index */
@media (max-width: 576px) {
  .carrusel {
    padding-top: 3rem;
  }
  .frase__educacion {
    padding-top: 3rem;
  }
}
/* Proyectos */
@media (max-width: 992px) {
  .project {
    text-align: center;
  }
  .project__info {
    text-align: center;
    padding-top: 2rem;
  }
}
@media (max-width: 1200px) {
  .project {
    text-align: center;
  }
  .project__info {
    text-align: center;
    padding-top: 2rem;
    align-self: center;
  }
}

/*# sourceMappingURL=style.css.map */
