footer {
  background-color: $primary-color;

  .a__decoration {
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      opacity: 0.65;
      color: white;
    }
  }
  a.sn:hover {
    opacity: 0.65;
  }
}
