body.index {
  font-family: "Playfair Display", serif;
}

.main-index {
  background-color: $secondary-color;

  .section__intro {
    background-color: $secondary-color;

    .img__teatinos {
      width: 7rem;
      height: 7rem;
    }
  }

  .section__frase {
    background-color: $secondary-color;

    .img__ingreso {
      width: 100%;
    }
  }
}
