body.inscripciones {
  font-family: "Playfair Display", serif;

  .section-inscripciones {
    background-color: $secondary-color;
  }

  .aviso {
    font-size: 3rem;
    letter-spacing: 5px;
    text-shadow: 4px 4px 5px #cdcdcd;
    animation: flotar 3s linear infinite alternate;

    @keyframes flotar {
      from {
        transform: rotate(5deg);
      }
      to {
        transform: rotate(-5deg);
      }
    }
  }
}
